* {
    margin: 0;
}
.header {
    background-color: #b8c1d1;
    text-align: center;
    height: 80px;
}
.title {
    padding-top: 24px;
    font-size: 24px;
    color: #ff8a2f;
    font-family: "Bitstream Vera Serif";
}