* {
    margin: 0;
}

.font {
    font-family: Helvetica, sans-serif ;
    font-size: 34px;
    font-style: oblique;
}

.nopd {
    padding: 0 !important;
}

.navbar-nav li {
    margin-left: 80px;
}

.nav {
    background-color: #40727a;
    height: 120px;
}

ul.navbar-nav {
    margin-left: 40%;
}

.red a {
    color: crimson!important;
    font-size: 24px;
}